
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div>
    </div>
    <script type="text/javascript">
        var pas = prompt('Enter the password')
        if (pas == 'T11') {
            window.location.href = "@Url.Action("kolaroo", "Home")";

        }


    </script>
</body>
</html>
<a href="~/Views/Home/kolaroo.cshtml">~/Views/Home/kolaroo.cshtml</a>